<!-- This is the landing page -->
<div class="row mt-5">
    <div class="col-md-6 slogan">
      Become a habit-taking pro and unlock your full potential.
    </div>
    
    <div class="col-md-4 m-auto">
        <div class="card card-body text-center ">
            <h1 style="color: rgb(209, 0, 0);">Coder Habit Tracker
                <br />
                <i class="bi bi-calendar2-heart"></i>
            </h1>
            <!-- Option to register or log-in -->
            <p>Create an account or login</p>
            <a href="/users/register" class="btn btn-primary btn-block mb-2">Sign Up</a>
            <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
        </div>
    </div>
</div>